<div class="profile-container">
  <h2>Profil</h2>
  @if(user && client){
    <ul>
      <li>Nom: {{ client.data.nom }}</li>
      <li>Prenom: {{ client.data.prenom }}</li>
      <li>Adresse: {{ client.data.adresse }}</li>
      <li>Ville: {{ client.data.ville }}</li>
      <li>Code Postal: {{ client.data.code_postal }}</li>
      <li>Name: {{ user.name }}</li>
      <li>Email: {{ user.email }}</li>
      <li>role: {{ user.role }}</li>
    </ul>
    <img src= "{{ client.data.avatar }}" alt="avatar" />

    <ul>
      @for(reservation of reservations; track reservation) {
        <li>Nom: {{ reservation }}</li>
    }
    </ul>
    <a [routerLink]="['/update-profil', client.data.id]">Modifier votre profil</a>
  }
</div>
