<div>
  <mat-card>
    <mat-card-title>Modification du profil</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="enregistrer()">

        <mat-form-field>
          <input type="nom" matInput placeholder="Nom" formControlName="nom">
          @if (nom?.touched && nom?.hasError('required')) {
          <mat-error>
            Le nom est obligatoire
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <input type="prenom" matInput placeholder="Prenom" formControlName="prenom">
          @if (prenom?.touched && prenom?.hasError('required')) {
          <mat-error>
            Le prenom est obligatoire
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <input type="adresse" matInput placeholder="Adresse" formControlName="adresse">
          @if (adresse?.touched && adresse?.hasError('required')) {
          <mat-error>
            L'adresse est obligatoire
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <input type="ville" matInput placeholder="Ville" formControlName="ville">
          @if (ville?.touched && ville?.hasError('required')) {
          <mat-error>
            La ville est obligatoire
          </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <input type="code_postal" matInput placeholder="Code postal" formControlName="code_postal">
          @if (code_postal?.touched && code_postal?.hasError('required')) {
          <mat-error>
            Le code postal est obligatoire
          </mat-error>
          }
        </mat-form-field>

        <div class="button">
          <button type="submit" mat-button [disabled]="!form.valid">Enregister</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
