<div>
  <div class="commande">
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="titre">
      <th mat-header-cell *matHeaderCellDef> #</th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="['/detail-evenement', element.id]"> {{element.titre}}</a></td>
    </ng-container>
    <!-- La ligne -->
    <tr mat-header-row *matHeaderRowDef="lesColonnes; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: lesColonnes;"></tr>

  </table>
  <!--
  }
  -->
</div>
