

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  a {
    margin: 10px;
    font-size: 30px;
    color: white;
    text-decoration:none;
    user-select:none;
  }

  a:hover {
    cursor: pointer;
  }

  .titre{
    font-size: 80px;
    padding-right: 300px;
  }

  .titre:hover{
    cursor: auto;
  }

</style>


<p>
  <mat-toolbar color="primary" class="menu">
    <a class="titre">TicketMain</a>
    @if(auth.isLoggedIn$ | async) {
      <span>Welcome, {{ name }}</span>
    }
    <a [routerLink]="['/']"><span>Accueil</span></a>
    @if(auth.isLoggedIn$ | async) {
    <a [routerLink]="['profil']"><span>Profil</span></a>
    <a [routerLink]="['liste-evenement']"><span>Liste des événements</span></a>
    <a [routerLink]="['liste-reservation']"><span>Liste des réservations</span></a>
    <a (click)="logout()"><span>Logout</span></a>
    }
    @else {
    <a [routerLink]="['login']"><span>Login</span></a>
    <a [routerLink]="['register']"><span>Register</span></a>
    }
    @if(isAdminGestionnaire()) {
      <a [routerLink]="['liste-clients']"><span>Liste des clients</span></a>
    }
  </mat-toolbar>

</p>

<div class="container">
<div class="main">


  <router-outlet></router-outlet>
</div>

<footer>
  <div class="footer-content">
    <div class="footer-left">
      <p>&copy; 2023 - TicketMain</p>
      <p>80 Rue de Lens, Lambersart, 59130</p>
    </div>
    <div class="footer-right">
      <ul class="social-links">
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Facebook</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Twitter</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Instagram</a></li>
      </ul>
      <ul class="nav-links">
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">A propos</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Contacts</a></li>
        <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Mentions légales</a></li>
      </ul>
    </div>
  </div>
</footer>
</div>
