

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh
  }

  a {
    margin: 10px;
    font-size: 30px;
    color: white;
    text-decoration:none;
    user-select:none;
  }

  a:hover {
    cursor: pointer;
  }

  .titre{
    font-size: 80px;
    padding-right: 300px;
  }

  .titre:hover{
    cursor: auto;
  }

</style>


<p>
  <mat-toolbar color="primary">
    <a class="titre">TicketMain</a>
    <a [routerLink]="['/']"><span>Accueil</span></a>
    @if(!isLoggedIn) {
      <a [routerLink]="['login']"><span>Login</span></a>
      <a [routerLink]="['register']"><span>Register</span></a>
    }
    @else {
      <a (click)="logout()"><span>Logout</span></a>
    }
  </mat-toolbar>
</p>

<router-outlet></router-outlet>

